/* This stylesheet is used to style the admin option form of the plugin. */

.canvasjs-chart-credit {
	display: none;
}

a.delete {
	color: #a00 !important;
}

.expstatus_complete {
	color: #00FF00 !important;
}

.expstatus_running {
	color: #0000FF !important;
}

.expstatus_paused {
	color: #FF0000 !important;
}